<head>
  <title>Gulpverse</title>
  <meta charset="UTF-8">
  <meta name="description" content="We broguht it to the web!">
  <meta name="keywords" content="wii, miiverse, social">
  <meta name="author" content="OH HAC">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+JP&display=swap" rel="stylesheet">
  <style>
    * {
      font-family: 'Noto Sans JP', sans-serif;
    }

    a:active {
      font-style: none;
      color: black;
    }

    a:link {
      font-style: none;
      color: black;
    }

    html,
    body {
      background: repeating-conic-gradient(#f4f7f4 0% 25%, #ecefec 0% 50%) 50% / 150px 150px;
      height: 100%;
      width: 100%;
      margin: 0px;
      padding: 0px;
      overflow-x: hidden;
      cursor: url("https://cdn.discordapp.com/attachments/914454957908959283/917081783042994286/wii.cur"), default;
    }
  </style>
  <script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
  <script src="https://kit.fontawesome.com/d1f5f61296.js" crossorigin="anonymous"></script>
</head>