
<div style="background-color:#fcfbfc;position:fixed;left:0;width:90px;height:100%;border-radius:40px;border-top-left-radius:0;border-bottom-left-radius:0;background-image:linear-gradient(to left, #dfdfdf, transparent);display:grid;flex-direction: column;flex-wrap:wrap;z-index:4;box-shadow: 0 3px 10px rgb(0 0 0 / 50%);">
  <div style="width:100%;height:100%;position:sticky;transform:translateY(4%)">
    <table style="width:100%;height:30px;margin-left:auto;margin-right:auto;text-align:center;border:solid;border-color:#e7e7e7;border-top:0;border-left:0;border-right:0;font-size:10px;" id="navitem-1">
      <tr>
        <td><i class="fas fa-home" style="font-size:4.5em;"></i></td>
      </tr>
      <tr>
        <td>Home</td>
    </table>
    <table style="width:100%;height:30px;margin-left:auto;margin-right:auto;text-align:center;border:solid;border-color:#e7e7e7;border-top:0;border-left:0;border-right:0;font-size:10px;" id="navitem-3">
      <tr>
        <td><i class="fas fa-question" style="font-size:4.5em;"></i></td>
      </tr>
      <tr>
        <td>Randomness</td>
    </table>
    <table style="width:100%;height:30px;margin-left:auto;margin-right:auto;text-align:center;border:solid;border-color:#e7e7e7;border-top:0;border-left:0;border-right:0;font-size:10px;" id="navitem-4">
      <tr>
                <td><i class="far fa-comment-alt" style="font-size:4.5em;"></i></td>
      </tr>
      <tr>
        <td>Communities</td>
    </table>
    <table style="height:30px;margin-left:auto;margin-right:auto;text-align:center;border:solid;border-color:#e7e7e7;border-top:0;border-left:0;border-right:0;font-size:10px;" id="navitem-2">
      <tr>
        <td><img src="https://cdn.picrew.me/app/image_maker/1388625/icon_8v9i99lsyve3qQWO.jpg" style="width:60%;border-radius:5px;"></td>
      </tr>
      <tr>
        <td>User profile</td>
    </table>
    <table style="height:30px;margin-left:auto;margin-right:auto;text-align:center;border:solid;border-color:#e7e7e7;border-top:0;width:100%;border-left:0;border-right:0;font-size:10px;" id="navitem-6">
      <tr>
        <td><img src="https://cdn.glitch.me/9c84e846-08d9-46fb-b974-060f47226343/Discord-Logo-Black.svg?v=1639894995416" style="width:60%;"></td>
      </tr>
      <tr>
        <td>Discord</td>
    </table>
    <table style="height:30px;margin-left:auto;margin-right:auto;text-align:center;border:solid;border-color:#e7e7e7;border-top:0;border-left:0;border-right:0;font-size:10px;background-image:linear-gradient(to bottom right, #555555,#2a2a2a);width:100%;" id="navitem-5">
      <tr>
        <td><i class="fas fa-long-arrow-alt-left" style="font-size:4.5em;color:white;"></i></td>
      </tr>
      <tr>
        <td style="color:lightgrey">Back</td>
    </table>
  </div>
  <script>
    $("#navitem-1").click(function() {
      window.location = "https://gulpverse.glitch.me";
    })
    $("#navitem-2").click(function() {
      window.location = "https://gulpverse.glitch.me/account";
    })
    $("#navitem-3").click(function() {
      window.location = "https://gulpverse.glitch.me/activity"
    })
    $("#navitem-4").click(function() {
      window.location = "https://gulpverse.glitch.me/community"
    })
    $("#navitem-5").click(function() {
      window.location = "https://ohclan.neocities.org"

    })
    $("#navitem-6").click(function() {
      window.location = "https://discord.gg/uBXCAGzutv"
    })
  </script>
  <style>
    table[id^='navitem']:hover {
      background: linear-gradient(to bottom, #cbcbcb, #ebebeb);
    }
  </style>
</div>