<div style="position:sticky;top:0;background-image:linear-gradient(to bottom, #7de228, #5cc602);width:100%;height:40px;z-index:3;">
  <a style="color:white;position:absolute;top:12%;left:103px;" id="texty">Main</a>
  <script>
    let path = window.location.pathname;
    path = path.split("/").pop();
    path = path.charAt(0).toUpperCase() + path.slice(1);
    if(path === "") {
      path="Main"
    }
    var _0xdef5=["\x6C\x6F\x63\x61\x6C\x53\x74\x6F\x72\x61\x67\x65","\x72\x61\x64","\x67\x65\x74\x49\x74\x65\x6D","\x79\x61\x73\x73","\x69\x6E\x6E\x65\x72\x48\x54\x4D\x4C","\x74\x65\x78\x74\x79","\x67\x65\x74\x45\x6C\x65\x6D\x65\x6E\x74\x42\x79\x49\x64","\x20\x3C\x61\x20\x73\x74\x79\x6C\x65\x3D\x22\x63\x6F\x6C\x6F\x72\x3A\x79\x65\x6C\x6C\x6F\x77\x22\x3E\x52\x61\x64\x4D\x6F\x44\x45\x3C\x2F\x61\x3E"];const lwol=window[_0xdef5[0]];if(lwol[_0xdef5[2]](_0xdef5[1])=== _0xdef5[3]){document[_0xdef5[6]](_0xdef5[5])[_0xdef5[4]]= path+ `${_0xdef5[7]}`}  </script>
</div>