<!DOCTYPE html>
<html>
  <%- include('../includes/head'); %>
  <body>
    <%- include('../includes/navbar'); %>
    <%- include('../includes/navbar2'); %>
    <center><h1 style="red">
      <%= error %>
      </h1></center>
  </body>
</html>