<!DOCTYPE html>
<html>
<%- include('../includes/head'); %>

<body>
  <%- include('../includes/navbar'); %>
  <%- include('../includes/navbar2'); %>
  <center>
    <h1 style="color:red;font-weight:bold;">
      <%= error %>
    </h1>
  </center>
</body>

</html>