<!DOCTYPE html>
<html>
  <%- include('../includes/head'); %>
  <body>
    <%- include('../includes/navbar'); %>
    <%- include('../includes/navbar2'); %>
              <div style="background:linear-gradient(to bottom, #fdfafd, #ececec);height:30%;text-align:center;border:solid;border-color:#a0a0a0;border-left:none;border-right:none;border-width:4px;z-index:-1;">
      <h1>
        Hello!
      </h1>
      
      <o>See you on the other side...</o>
  
      </div>
  </body>
</html>